

{% extends 'base.html.twig' %}

{% block title %}Hello DeschavanneController!{% endblock %}

{% block body %}


    <form method="post" action="traitement.php">
   <p>
       <label for="pseudo">Votre pseudo :</label>
       <input type="text" name="pseudo" id="pseudo" placeholder="Ex : Zozor" />
       
       <br />
       <label for="pass">Votre mot de passe :</label>
       <input type="password" name="pass" id="pass" />
       <br>
       <button type="button" class="btn btn-outline-info">Login</button>
       
   </p>
</form>
{% endblock %}
