
{% extends 'base.html.twig' %}

{% block body %}

<form method="post" action="/deschavanne/pages/adduser">
<p>
  <fieldset>
    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label mt-4">Login</label>
      <input type="text" name="Login" id="Login" placeholder="Entrez le login de l'utilisateur">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1" class="form-label mt-4">Password</label>
      <input type="password" name="Password" id="Password" placeholder="Entrez le password pour l'utilisateur">
    </div>
    <br>
    <button "type="button" class="btn btn-outline-info">Submit</button>
</form>

{% endblock %}